# sudo openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /etc/apache2/.ssh/ansible.key -out /etc/apache2/.ssh/ansible.crt
#
# sudo a2enmod proxy && sudo a2enmod proxy_html && sudo a2enmod proxy_http && sudo a2enmod proxy_wstunnel && sudo a2enmod rewrite && sudo a2enmod ssl && sudo a2enmod socache_shmcb && sudo a2enmod rewrite && sudo a2enmod headers && sudo service apache2 restart

# generated 2020-01-22, https://ssl-config.mozilla.org/#server=apache&server-version=2.4.41&config=modern
# requires mod_ssl, mod_socache_shmcb, mod_rewrite, and mod_headers
<VirtualHost *:80>
    ####################################################################################
    # REDIRECT SETUP
    #_________________________________________
    RewriteEngine On
    RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]

    ####################################################################################
    # SETUP LOG
    #_________________________________________
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ apache2_servername }}
    ServerAdmin {{ apache2_serveradmin }}

    ####################################################################################
    # SETUP DocumentRoot
    #_________________________________________
    DocumentRoot {{ apache2_documentroot }}

    ####################################################################################
    # SETUP SOME BASICS
    #_________________________________________
    # UseCanonicalName Off
    # ProxyPreserveHost on
    # ProxyVia Off
    # ProxyRequests Off

    # ----------------------------------------------------------------------------------
    # ----------------------------------------------------------------------------------
    # ----------------------------------------------------------------------------------

    ####################################################################################
    # SETUP SECURITY
    #_________________________________________
    SSLEngine on
    SSLCertificateFile      {{ apache2_ssl_directory }}/{{ apache2_ssl_file_name }}.crt
    SSLCertificateKeyFile   {{ apache2_ssl_directory }}/{{ apache2_ssl_file_name }}.key

    # enable HTTP/2, if available
    Protocols h2 http/1.1

    # HTTP Strict Transport Security (mod_headers is required) (63072000 seconds)
    Header always set Strict-Transport-Security "max-age=63072000"

    ####################################################################################
    # SETUP LOG
    #_________________________________________
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

####################################################################################
# SETUP SECURITY SUITS
#_________________________________________

# modern configuration, tweak to your needs
SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1 -TLSv1.2
SSLHonorCipherOrder     off
SSLSessionTickets       off

SSLUseStapling On
SSLStaplingCache "shmcb:logs/ssl_stapling(32768)"
